ai-assistant/ai-assistant-workflow.json
[{"updatedAt":"2026-07-18T15:08:51.673Z","createdAt":"2026-07-15T07:08:13.242Z","id":"gabYNEsc02pyrR6F","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-656,-64],"id":"8ed1f20f-8e08-47ab-8f0d-3e16d645fcb3","name":"Schedule Trigger","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      \"id\": \"wb_rev_1001\",\n      \"userName\": \"Алексей\",\n      \"matchingSize\": \"XL\",\n      \"text\": \"Отличный товар! Качество швов на высоте, ткань плотная, после стирки не села. Рекомендую продавца, буду брать ещё!\",\n      \"productValuation\": 5,\n      \"createdDate\": \"2026-07-15T09:00:00Z\",\n      \"productDetails\": {\n        \"nmId\": \"99988811\",\n        \"imtId\": 12345,\n        \"productName\": \"Худи оверсайз хлопковое\"\n      }\n    }\n  },\n  {\n    json: {\n      \"id\": \"wb_rev_1002\",\n      \"userName\": \"Мария\",\n      \"matchingSize\": \"M\",\n      \"text\": \"Ужасно! Приехал товар с дыркой на рукаве и грязным пятном. Цвет совсем не совпадает с фото на карточке. Оформила возврат.\",\n      \"productValuation\": 2,\n      \"createdDate\": \"2026-07-15T09:45:00Z\",\n      \"productDetails\": {\n        \"nmId\": \"99988811\",\n        \"imtId\": 12345,\n        \"productName\": \"Худи оверсайз хлопковое\"\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,-64],"id":"5db0fa84-0eac-47ee-a14e-8d406ffda917","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=Ты — профессиональный ИИ-менеджер маркетплейса Wildberries. Твоя задача — писать идеальные ответы на отзывы покупателей.\n\nПравила ответов:\n1. Если оценка 4-5 звезд: Вежливо поблагодари клиента по имени, подчеркни достоинства товара, упомянутые в отзыве, и в конце ненавязчиво порекомендуй добавить наш бренд в избранное.\n2. Если оценка 1-3 звезды (негатив): Извинись за доставленные неудобства, напиши, что мы передали информацию на производство для проверки партии. Не спорь с клиентом. Пиши максимально профессионально.\n3. Ответ должен быть лаконичным (до 3-4 предложений), вежливым и без лишней «воды».\nИмя покупателя: {{ $json.userName }}.\nТекст отзыва: {{ $json.text }}.\nОценка товара: {{ $json.productValuation }} звезд.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-240,-64],"id":"318a8b5a-6b76-4808-bc52-edbd832747b1","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-240,112],"id":"d6a43eca-d8fe-45ff-bfb3-82e5cbbfa918","name":"Groq Chat Model","credentials":{"groqApi":{"id":"tav9Yo7LOHWFrVy2","name":"Groq account 2"}}},{"parameters":{"operation":"executeQuery","query":"-- 1. Добавляем/обновляем товар в базе (берем данные строго из ноды Code)\nINSERT INTO marketplace_products (marketplace, nm_id, product_name)\nVALUES (\n    'wildberries', \n    '{{ $(\"Code in JavaScript\").item.json.productDetails.nmId }}', \n    '{{ $(\"Code in JavaScript\").item.json.productDetails.productName }}'\n)\nON CONFLICT (nm_id) DO UPDATE SET product_name = EXCLUDED.product_name;\n\n-- 2. Записываем отзыв и сгенерированный ИИ ответ\nINSERT INTO marketplace_reviews (review_id, nm_id, rating, review_text, review_created_at, ai_status, ai_response_text, processed_at)\nVALUES (\n    '{{ $(\"Code in JavaScript\").item.json.id }}', \n    '{{ $(\"Code in JavaScript\").item.json.productDetails.nmId }}', \n    {{ $(\"Code in JavaScript\").item.json.productValuation }}, \n    '{{ $(\"Code in JavaScript\").item.json.text }}', \n    '{{ $(\"Code in JavaScript\").item.json.createdDate }}', \n    'sent', \n    '{{ $json.output }}', -- Ответ ИИ берем из текущей ноды AI Agent\n    NOW()\n)\nON CONFLICT (review_id) DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[112,-64],"id":"7565ef52-b3ec-4897-a9a6-40be8e721417","name":"Execute a SQL query","credentials":{"postgres":{"id":"pVp1A5jPOe5hmazi","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"Code in JavaScript":[{"json":{"id":"wb_rev_1001","userName":"Алексей","matchingSize":"XL","text":"Отличный товар! Качество швов на высоте, ткань плотная, после стирки не села. Рекомендую продавца, буду брать ещё!","productValuation":5,"createdDate":"2026-07-15T09:00:00Z","productDetails":{"nmId":"99988811","imtId":12345,"productName":"Худи оверсайз хлопковое"}}},{"json":{"id":"wb_rev_1002","userName":"Мария","matchingSize":"M","text":"Ужасно! Приехал товар с дыркой на рукаве и грязным пятном. Цвет совсем не совпадает с фото на карточке. Оформила возврат.","productValuation":2,"createdDate":"2026-07-15T09:45:00Z","productDetails":{"nmId":"99988811","imtId":12345,"productName":"Худи оверсайз хлопковое"}}}]},"versionId":"068dad76-2b68-47b1-8591-5a9f1d6afb93","activeVersionId":null,"versionCounter":100,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-15T07:08:13.242Z","createdAt":"2026-07-15T07:08:13.242Z","role":"workflow:owner","workflowId":"gabYNEsc02pyrR6F","projectId":"2qLoRyn7Uuhs67yb","project":{"updatedAt":"2026-07-15T06:34:48.912Z","createdAt":"2026-07-13T19:14:18.396Z","id":"2qLoRyn7Uuhs67yb","name":"Ramanau Aliaksei <111rao111@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"7973694c-4c91-48f9-a039-7ab2f4a9f466"}}],"versionMetadata":{"name":null,"description":null}}]